.access {
    height: 757px;
    width: 100%;
    background-color: #A193861F;
    position: relative;
    .border {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
    &-inner {
        position: absolute;
        top: 260px;
        left: 107px;
        @include sp {
            position: static;
        }
    }
    &-wrap {
        display: flex;
        @include sp {
            flex-wrap: wrap;
            
        }
        .access-left {
            background-color: #D0C5BA;
            width: 507px;
            height: 400px;
            position: relative;
            @include sp {
                width: 100%;
                order: 2;
            }
        }
        .map {
            height: 400px;
            @include sp {
                width: 100%;
                order: 1;
            }
        }
    }
        &-text {
        position: absolute;
        top: 100px;
        left: 105px;
        z-index: 9;
        @include sp {
            position: static;
        }
    }
    &-title {
        height: 24px;
        font-size: 24px;
        color: #00000038;
        margin-bottom: 30px;
    }
    .text {
        color: #ffffff;
        margin-bottom: 25px;
    }
}
table {
    color: #ffffff;
    width: 210px;
    height: 100px;
    text-align: left;
    
}