header {
    width: 100%;
    height: 53px;
    background-color: #000000;
    .big-headline {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 53px;
    }
}